html {
  background-color: #fefefe;
}
body {
  background-color: #fefefe;
}
div.sidebar-about h1 {
    font-family: 'Poiret One', cursive;
    text-rendering: optimizeLegibility;
}
div.sidebar {
    background-color: #577cae;
}
a {
    color: #7e7e7e;
}
